<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Cineverse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./styles/normalize.css">
<link rel="stylesheet" href="./styles/styles.css">
<link rel="icon" href="../web/media/cropped-logo-transparent.png" type="image/png">
</head>
<body>
  
    <div id="app">


        <div class="container-register-img" id="video-background">
            <video autoplay loop muted>
                <source src="./media/cinema-login-video.mp4" type="video/mp4">
                <source src="ruta_del_video.webm" type="video/webm">
                Tu navegador no soporta el elemento de video.
              </video>

            <div class="form-container" id="video-content">
                <a href="../index.html">
                    <img src="./media/cropped-logo-transparent-small.png" alt="cineverse-logo" class="logo">
                </a>
               
                <form class="login-form" ref="loginForm">

                    <fieldset class="login-fieldset">
                        <legend class="login-legend">Login to your cineverse account</legend>
                        <label class="login-label">
                            <input class="login-input" type="email" placeholder="example@mail.com" v-model="formEmail" @click="resetErrorMessage" required>
                        </label>
                    
                        <label>
                            <input class="login-input" type="password" placeholder="Password" v-model="formPassword" @click="resetErrorMessage" required>
                        </label>
    
                    </fieldset>
                 
                    <p>{{errorMessage}}</p>

                    <button v-if="formEmail === '' || formPassword === ''" class="login-form-btn login-btn" disabled>Log in</button>
                    <button v-else type="submit" class="login-form-btn login-btn" @click.prevent="loginClient">Log in</button>

                    <p class="form-suggest-text">Dont have an account? <span @click="showRegisterForm">Sign up</span></p>

                </form>

                <form class="register-form" ref="registerForm" id="video-content">

                    <fieldset class="login-fieldset">
                        <legend class="login-legend">Sign up to Cineverse</legend>

                        <label class="login-label">
                            <input class="login-input" type="text" placeholder="First Name" v-model="formFirstName" @click="resetErrorMessage" required>
                        </label>

                        <label class="login-label">
                            <input class="login-input" type="text" placeholder="Last Name" v-model="formLastName" @click="resetErrorMessage" required>
                        </label>

                        <label class="login-label">
                            <input class="login-input" type="email" placeholder="example@domain.com" v-model="formEmail" @click="resetErrorMessage" required>
                        </label>
                    
                        <label>
                            <input class="login-input" type="password" placeholder="Password" v-model="formPassword" @click="resetErrorMessage" required>
                        </label>
    
                      
                    </fieldset>
                 
                    <p>{{errorMessage}}</p>
             


                     <button v-if="formFirstName === '' || formLastName === '' || formEmail === '' || formPassword === ''" class="login-form-btn register-btn" disabled>Sign up</button>
                     <button v-else type="submit" class="login-form-btn register-btn" @click.prevent="registerClient">Sign up</button>

                    
                     <p class="form-suggest-text">Already an user? <span @click="showLoginForm">Log in</span></p>
                </form> 
            </div>

          
           
          


        </div>
        




    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./scripts/login.js"></script>

</body>
</html>