<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies | Cineverse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./styles/normalize.css">
<link rel="stylesheet" href="./styles/styles.css">
<link rel="icon" href="../web/media/cropped-logo-transparent.png" type="image/png">
</head>
<body>
    <div id="app">

    
        <header>

            <div class="top-bar container">
                <a href="../index.html">

    
                  <img src="./media/cropped-logo-transparent-small.png" alt="cineverse-logo" class="logo">
                </a>
                <nav class="menu">
    
                  <ul>
                    <li><a href="../index.html" class="menu-item">Home</a></li>
                    <li><a href="#" class="menu-item">Contact</a></li>
                    <li v-if="clientRole === '' "><a href="./login.html" class="menu-item">Login</a></li>
              
                    <li v-else><a href="#" @click="logout" class="menu-item">Logout</a></li>
                  </ul>
                </nav>
                <div class="menu-icon" @click="toggleMenu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 6l16 0" />
                        <path d="M4 12l16 0" />
                        <path d="M4 18l16 0" />
                      </svg>
                </div>
              </div>
              <div class="responsive-menu" :class="{ active: isMenuOpen }">
        
                <ul>
                  <li><a href="../index.html" class="menu-item">Home</a></li>
                  <li><a href="#" class="menu-item">Contact</a></li>
                  <li v-if="clientRole === '' "><a href="./login.html" class="menu-item">Login</a></li>
              
                  <li v-else><a href="#" @click="logout" class="menu-item">Logout</a></li>
    
               
                </ul>
              </div>
    
          
        </header>

        <main>


            <section class="container">

                <h2>{{movieSelected.name}}</h2>

                <div class="showMovieContainer">
                    <img :src="movieSelected.movieImg" :alt="movieSelected.name + ' ' + 'image' " class="showMovie-img">

                        <div class="showMovie-content-container">


                            <div class="showMovie-content">
                        
                            <h4>Description</h4>
                            <p class="showMovie-description">{{movieSelected.description}}</p>

                            </div>

                            <div class="showMovie-content">
                            <h4>Genre</h4>
                            <p class="showMovie-description">{{movieSelected.movieGenre}}</p>

                            </div>

                            <div class="showMovie-content">
                            <h4>Restriction</h4>
                            <p class="showMovie-description">{{movieSelected.movieRestriction}}</p>

                            </div>

                            <div class="showMovie-content">
                            <h4>Type</h4>
                            <p class="showMovie-description">{{movieSelected.movieType}}</p>
                            </div>
                        </div>
                   
                   
                    </div>
                
               

             
            </section>

            <section class="container">
                <h2>Upcoming Showtimes</h2>


                
                    
                    
                    <table class="movie-show-table">
                        <thead>
                          <tr class="show-table-row">
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Standard Price</th>
                            <th>Show Room</th>
                            <th>Buy Ticket</th>
                          </tr>
                        </thead>
                        <tbody v-if="movieShows.length > 0">
                          <tr v-for="show in movieShows" :key="show.id" class="show-table-row">
                            <td>{{show.startTime}}</td>
                            <td>{{show.endTime}} hs</td>
                            <td>$ {{ show.standardPrice }}</td>
                            <td>{{ show.cinemaRoom.roomName }}</td>
                 
                            <td v-if="clientLogged === true" ><a @click="saveShowId(show)" class="site-info-btn">Buy</a></td>
                            <td v-else><a href="./login.html" class="site-action-btn">Log in</a></td>
                            
                          </tr>
                        </tbody>
                      </table>

  


          

                

              
            </section>


            <section class="container">
              <h2>Reviews</h2>


              <div v-if="noReviewsFound === true">
                <p>Nothing to show</p>

              </div>

              <div v-else class="reviews-container">
            
               

                <div v-if="userMovieReview.length > 0" class="review">
                  <h3>Your review</h3>
                  {{userMovieReview}}
                  
                </div>

                <h3>Other reviews</h3>
                <div v-for="review in movieReviews" class="review">
                    {{review}}
                </div>
              </div>
   
            </section>

         
           
        </main>

   

        <footer>

          <div class="footer-container container">
    
    
            <a href="../index.html">
          
              <img src="./media/cropped-logo-transparent-small.png" alt="cineverse-logo" class="logo">
            </a>
            <p class="footer-copy">Developed By Lautaro Yosbere, 2023  <a href="./web/credits.html" class="footer-credits">View Credits</a></p>
    
            <div class="footer-nav-container">
              <h4>Follow us!</h4>
    
              <nav class="footer-nav">
    
                <a href="https://www.facebook.com/">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                  </svg>
                </a>
                
                <a href="https://www.instagram.com/">
    
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M16.5 7.5l0 .01" />
                  </svg>
                </a>
                
                
                <a href="https://twitter.com/home">
    
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
                  </svg>
                </a>
              </nav>
            
            </div>
           
          </div>
        </footer>

    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
 
    <script type="module" src="./scripts/movie.js" ></script>
</body>
</html>