<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Cineverse!</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./web/styles/normalize.css">
<link rel="stylesheet" href="./web/styles/styles.css">
<link rel="icon" href="./web/media/cropped-logo-transparent.png" type="image/png">
</head>
<body>
    <div id="app">



    <header>

        <div class="top-bar container">
            <a href="#">
        

              <img src="./web/media/cropped-logo-transparent-small.png" alt="cineverse-logo" class="logo">
            </a>
            <nav class="menu">

              <ul>
                <li><a href="#" class="menu-item">Home</a></li>
                <li><a href="#movies" class="menu-item">Movies</a></li>
                <li><a href="#showRooms" class="menu-item">ShowRooms</a></li>
                <li><a href="#" class="menu-item">Contact</a></li>
                <li v-if="clientRole === '' "><a href="./web/login.html" class="menu-item">Login</a></li>
                <li v-else-if="clientRole === 'CLIENT'"><a href="./web/login.html" class="menu-item">{{clientName}}</a></li>
                <li v-else-if="clientRole === 'ADMIN'"><a href="./web/login.html" class="menu-item">Admin panel</a></li>
                <li v-else><a href="./web/login.html" class="menu-item">Tickets</a></li>
              </ul>
            </nav>
            <div class="menu-icon" @click="toggleMenu">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 6l16 0" />
                    <path d="M4 12l16 0" />
                    <path d="M4 18l16 0" />
                  </svg>
            </div>
          </div>
          <div class="responsive-menu" :class="{ active: isMenuOpen }">
     
            <ul>
              <li><a href="#" class="menu-item">Home</a></li>
              <li><a href="#movies" class="menu-item">Movies</a></li>
              <li><a href="#showRooms"  class="menu-item">ShowRooms</a></li>
              <li><a href="#" class="menu-item">Contact</a></li>

              <li v-if="clientRole === '' "><a href="./web/login.html" class="menu-item">Login</a></li>
              <li v-else-if="clientRole === 'CLIENT'"><a href="./web/login.html" class="menu-item">{{clientName}}</a></li>
              <li v-else-if="clientRole === 'ADMIN'"><a href="./web/login.html" class="menu-item">Admin</a></li>
              <li v-else><a href="./web/login.html" class="menu-item">Tickets</a></li>
            </ul>
          </div>


 


      

      
         
       

      
    </header>

     <div class="slideshow">
        <div class="slideshow-image" style="background-image: url('https://complejocinerama.com.ar/wp-content/uploads/2023/06/Diseno-sin-titulo-2023-06-30T122103.662-1536x850.png')"></div>
        <div class="slideshow-image" style="background-image: url('https://complejocinerama.com.ar/wp-content/uploads/2023/05/Diseno-sin-titulo-2023-05-11T133531.416-1536x850.png')"></div>
        <div class="slideshow-image" style="background-image: url('https://complejocinerama.com.ar/wp-content/uploads/2023/06/Diseno-sin-titulo-2023-06-30T122257.627-1536x850.png')"></div>
        <div class="slideshow-image" style="background-image: url('https://complejocinerama.com.ar/wp-content/uploads/2023/06/Diseno-sin-titulo-2023-06-08T084544.341-1536x850.png')"></div>
      </div> 

   
  
    <main>

    

        <section class="container">
          <h2 id="movies">Movies</h2>

          <div class="movies-container">
            <div v-for="movie in movies" class="movie">
              <img :src="movie.movieImg" :alt="movie.name + ' ' + 'image'">
              <p class="movie-name">{{ movie.name }}</p>
             
              <button class="site-info-btn" @click="showMovie(movie)">Buy Tickets</button>

            </div>
          </div>


        </section>

        <section class="container">
            <h2 id="showRooms">ShowRooms</h2>

            <div class="showRooms-container">
              <div class="showRoom">
                <img src="./web/media/2d-cinema.jpg" alt="2d cinema image" class="showRoom-img">
                <h4>2D Rooms</h4>
                <p class="showRoom-description">Immerse yourself in the captivating world of storytelling with our state-of-the-art 2D cinema. </p>

                <p class="showRoom-description">Feel the magic of the big screen as you embark on a cinematic journey filled with emotion, drama, and excitement. </p>

                <p class="showRoom-description"> Sit back, relax, and let the power of storytelling transport you to new realms.</p>

                <button class="site-info-btn">View Showtimes</button>
              </div>

              <div class="showRoom">
                <img src="./web/media/3d-cinema.jpg" alt="3d cinema image" class="showRoom-img">
                <h4>3D Rooms</h4>
                <p class="showRoom-description">Step into a realm of awe-inspiring realism with our cutting-edge 3D cinema experience.</p>
                <p class="showRoom-description">Watch as characters come to life, and scenes leap off the screen, bringing you closer to the action like never before. </p>
                <p class="showRoom-description"> Get ready to be thrilled, amazed, and fully engaged in an unforgettable cinematic adventure.</p>

                <button class="site-info-btn">View Showtimes</button>
              </div>

              <div class="showRoom">
                <img src="./web/media/imax-image.jpg" alt="IMAX cinema image" class="showRoom-img">

                <h4>IMAX Rooms</h4>
                <p class="showRoom-description"> Experience the magic of cinema like never before</p>
                <p class="showRoom-description"> Immerse yourself in crystal-clear images and surround sound that engulfs you in an unparalleled sensory spectacle. </p>

                <p class="showRoom-description"> Witness larger-than-life visuals, heart-pounding sound, and an unforgettable movie experience that pushes the boundaries of what's possible in cinema. </p>

                <button class="site-info-btn">View Showtimes</button>
              </div>
            </div>
        </section>

    </main>
    <footer>

      <div class="container">

        <p class="footer-copy">Developed By Lautaro Yosbere, 2023  <a href="./web/credits.html" class="footer-credits">View Credits</a></p>
       
      </div>
    </footer>

</div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./web/scripts/index.js"></script>

    
</body>
</html>