
/* GLOBALES */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
  }


  *, *:before, *:after {
    box-sizing: inherit;
  }



body{
    font-family: 'Roboto', sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(190deg, rgba(0,0,0,1) 0%, rgba(64,0,0,1) 50%, rgba(0,0,0,1) 100%);
    background-repeat: no-repeat;
    font-size: 1.6rem;
    color: white;
 
   

}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}



* {
    color: white;
}


h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 95%;
}

@media(min-width: 768px) {
    .container {
        width: 1200px;
    }
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2.8rem;


}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h1,h2,h3,h4 {
  text-align: center;
}


@media(min-width: 768px){
  h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h2,h3,h4 {
  text-transform: capitalize;
  text-align: left;
}
}





h1,
h2,
h3,
h4 {
    padding: 2rem 0;
}

h3,
h4 {
    text-transform: capitalize;
}



p {
    margin-bottom: 1rem;
    line-height: 2;
}

a {
  text-decoration: none;
}

input {

    width: 100%;
    padding: 1rem;
    border: 2rem;
    color: black;
  }

  legend {
    margin: 1rem 0;
  }

  select {
    color: black;
  }
  
  option {
    color: black;
  }
  
  


.center {
  text-align: center;
}

.padding {
  padding: 1rem;
}


.site-info-btn {
  background-color: #000000;
  color: white;
  padding: 1rem;
  text-transform: uppercase;

  border: 1px solid red;
  border-radius: 2rem;
  border-style: dashed;

}

.site-action-btn {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #400000;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 14px;
}

.color-red {
  background-color: red;
  cursor: pointer;
}

.color-green {
  background-color: green;
  cursor: pointer;
}

.color-orange {
  background-color: orange;
}


.site-info-btn:hover {
  cursor: pointer;
}

.error-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #a33a3a;
  background-color: rgb(255, 138, 138);
  padding: 1rem;
  margin: 1rem;
}

.error-message {
 
  font-weight: bold;
  text-align: center;
  color: red;
  

}


/* MENU */

/* Estilos para la barra superior */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

  }
  
 
  .logo {
    max-width: 200px; /* Ajusta el tamaño del logotipo según tus necesidades */
    max-height: 7rem;
  }
  
  .menu {

    text-align: right;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu-item {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none;
    transition: 1s ease;
  }

  .menu-item:hover {
    color: red;
  }
 

  /* Estilos para el menú responsive */
  .responsive-menu {
    display: none;
  }
  
  .responsive-menu.active {
    display: none;
  }
  
  .responsive-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .responsive-menu li {
    margin-bottom: 10px;
  }
  
 
  
  /* Estilos para el icono del menú */
  .menu-icon {
    display: none;
    cursor: pointer;
  }
  
  /* Estilos para el icono del menú en dispositivos móviles */
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }

    .responsive-menu.active {
        display: block; /* Ocultar el menú responsive cuando la ventana se agrande */
      }
  }


  /* SUBMENU */

  .has-submenu {
    position: relative;
  }

  .has-submenu .arrow {
    margin-left: 5px;
    cursor: pointer;
  }
  

  .submenu {

    position: absolute; /* Los subitems estarán posicionados de forma absoluta */
    top: 100%; /* Ajusta el top para que aparezcan debajo del li principal */
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    padding: 0; /* Quitamos el padding para ocupar el ancho completo del li principal */

    z-index: 1; /* Asegura que el submenú esté por encima del contenido */
  }
  
  .has-submenu .submenu {
    display: block; /* Mostrar el submenú al hacer hover en el li principal */
    background-color: black;
    color: red;


  }
  
  .submenu li {
    /* Estilo para los elementos li dentro del submenú */
    display: block; /* Mostrar los elementos en una lista vertical */
    padding: 1rem 0; /* Añade un poco de espacio entre los elementos */
    text-align: center;
    cursor: pointer;
    margin: 0;
  }

  .submenu li a:hover {
    color: red;
  }
  
  /* Evitar que el submenú afecte el tamaño del li principal */
  .has-submenu {
    display: inline-block;
  }

  /* Footer */


.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}


@media(min-width: 768px){
  .footer-container {
    flex-direction: row;
  }
}



.footer-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-nav-container h4{

  margin: 0;

}



/* SLIDER */

 .slideshow {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    z-index: -1;
    opacity: 0.7;
  }
  .slideshow-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    -webkit-animation-name: kenburns;
    animation-name: kenburns;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    animation-duration: 16s;
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .slideshow-image:nth-child(1) {
    -webkit-animation-name: kenburns-1;
    animation-name: kenburns-1;
    z-index: 3;
  }
  .slideshow-image:nth-child(2) {
    -webkit-animation-name: kenburns-2;
    animation-name: kenburns-2;
    z-index: 2;
  }
  .slideshow-image:nth-child(3) {
    -webkit-animation-name: kenburns-3;
    animation-name: kenburns-3;
    z-index: 1;
  }
  .slideshow-image:nth-child(4) {
    -webkit-animation-name: kenburns-4;
    animation-name: kenburns-4;
    z-index: 0;
  }



  @-webkit-keyframes 
kenburns-1 {  0% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 1.5625% {
 opacity: 1;
}
 23.4375% {
 opacity: 1;
}
 26.5625% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 98.4375% {
 opacity: 0;
 -webkit-transform: scale(1.21176);
 transform: scale(1.21176);
}
 100% {
 opacity: 1;
}
}
@keyframes 
kenburns-1 {  0% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 1.5625% {
 opacity: 1;
}
 23.4375% {
 opacity: 1;
}
 26.5625% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 98.4375% {
 opacity: 0;
 -webkit-transform: scale(1.21176);
 transform: scale(1.21176);
}
 100% {
 opacity: 1;
}
}
@-webkit-keyframes 
kenburns-2 {  23.4375% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 26.5625% {
 opacity: 1;
}
 48.4375% {
 opacity: 1;
}
 51.5625% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
}
@keyframes 
kenburns-2 {  23.4375% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 26.5625% {
 opacity: 1;
}
 48.4375% {
 opacity: 1;
}
 51.5625% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
}
@-webkit-keyframes 
kenburns-3 {  48.4375% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 51.5625% {
 opacity: 1;
}
 73.4375% {
 opacity: 1;
}
 76.5625% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
}
@keyframes 
kenburns-3 {  48.4375% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 51.5625% {
 opacity: 1;
}
 73.4375% {
 opacity: 1;
}
 76.5625% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
}
@-webkit-keyframes 
kenburns-4 {  73.4375% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 76.5625% {
 opacity: 1;
}
 98.4375% {
 opacity: 1;
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
@keyframes 
kenburns-4 {  73.4375% {
 opacity: 1;
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}
 76.5625% {
 opacity: 1;
}
 98.4375% {
 opacity: 1;
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1);
 transform: scale(1);
}
} 









/* LOGIN PAGE */

.container-register-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;

 

}


@media(min-width: 768px){
  .form-container {
    min-height: 100vh;
    flex-basis: 40%;
  }
}

.form-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem;

 

}

#video-background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


@media(max-width: 768px){
  #video-background video {
    display: none;
  }
}
#video-content {
  position: relative;
  z-index: 1;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}



.register-form {
  display: none;


}






fieldset {
  border: none; /* Elimina el borde */
  padding: 0; /* Elimina el relleno interior */
  margin: 0; /* Elimina el margen exterior */
}

.login-legend {
  margin: 2rem 0;
  text-align: center;
}


.login-fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}


.login-label {

  background-color: red;
}


.login-form-btn {
    background-color: rgb(34, 141, 34);
    padding: 1rem;
    display: block;
    margin: 2rem auto;
   transition: 1s ease-in-out;

   
}

.login-form-btn:hover {
  background-color: rgb(11, 105, 11);
  cursor: pointer;
}



.form-suggest-text {
  font-size: 1.2rem;
  text-align: center;
}


.form-suggest-text span {
  text-decoration: underline;

}

.form-suggest-text span:hover {
  cursor:pointer;
}



/* MOVIES INDEX */


.movies-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.movie {

  flex-basis: calc(50% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  
}

@media(min-width: 768px){
  .movie {
    flex-basis: calc(25% - 2rem);
  }
}


.movie-name {
  text-align: center;
  max-height: 2.4em; /* Establecer una altura máxima equivalente a unas 2 o 3 líneas */
  overflow: hidden;
  text-overflow: ellipsis; 

}



/* Show ROOMS */

.showRooms-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.showRoom {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

}

@media(min-width: 768px){
  .showRoom {
    flex-basis: calc(33.3% - 2rem);
  }

  .showRoom-img {
    min-height: 30rem;
  }
}



/* FOOTER */

.footer-copy {

  text-align: center;
}



/* MOVIE PAGE */


.showMovieContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

}


@media(min-width: 768px){
  .showMovieContainer {
    flex-direction: row;
    justify-content: space-evenly;
   

  }

  .showMovie-Img {
    flex-basis: calc(30%);
  }

  .showMovie-content-container {
    flex-basis: calc(70%);
  }
}

.showMovie-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  text-align: center;
}

@media(min-width: 768px){
  .showMovie-content-container {
    text-align: left;
  }
}

.showMovie-content {
  display: flex;

  flex-direction: column;
  
 
}

.showMovie-content h4 {
  margin: 0;
  padding: 0;
}








.movie-show-table {

  width: 100%;
}


.show-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.show-table-row td,
.show-table-row th
{
  flex-basis: calc(20%);
 
  text-align: center;
}

@media(min-width: 768px){
  .show-table-row th {
    font-size: 2rem;
  }
}



.show-table-row td {
  margin: 2rem 0;
}







/* BUY TICKETS */

.cinema-room-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 align-items: center;
 gap: 2rem;
}

@media(min-width: 768px){
  .cinema-room-table-container{
    flex-direction: row;
  }
}



@media(min-width: 768px){
  .cinema-room-container {
    flex-basis: calc(70% - 2rem);
  }
}

.cinema-screen {
  width: 80%;
  height: 30px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  transform: translateY(-20px);
}

.cinema-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px; 
  margin: 0 auto;
}

.row {
  display: flex;
 
}

.seat {
  width: 30px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  position: relative; 
}

@media(min-width: 768px){
  .seat {
    width: 40px;
  }
}

.not-available {
  background-color: #f00;
  pointer-events: none;
}

.selected {
  background-color: #00f;
  color: #fff;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.pagination button:disabled {
  background-color: rgb(255, 185, 56);
  cursor: unset;
}



/* Estilos para la tabla de asientos seleccionados */

.selected-seats-table-section {

  width: 100%;
}

@media(min-width: 768px){
  .selected-seats-table-section {
    flex-basis: calc(30%);

  }
}

.selected-seats-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.selected-seats-table-section th,
.selected-seats-table-section td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}





/* PRODUCTS */

.products-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-sidebar-container section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media(min-width: 768px){
  .products-main {
    flex-direction: row;
    align-items: baseline;
  }

  .product-list-sections {
    flex-basis: calc(50%);
  }

  .products-sidebar-container {
    flex-basis: calc(50%);
  }

}

.selected-products-container h2 {
  text-align: center;
}



.product-list-container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.product-list-container ul li {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-basis: calc(50%);
}



.products-page-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products-page-tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.products-page-tr td {
  text-align: center;
  flex-basis: calc(25%);
}


.products-table-tfoot {
  border-top: 1px solid white;

}


.products-table-tfoot tr {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.products-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/* CHECKOUT */

.purchase-resume-section,
.purchase-resume-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

}



@media(min-width: 768px){
  .purchase-resume-container {

    flex-direction: row;

  }
}


.purchase-category-container {
  width: 100%;
  height: 100%;

}


@media(min-width: 768px){
  .purchase-category-container {
    flex-basis: 33.3%;
   

  }
}


.purchase-category-container h3 {
  text-transform: unset;
  font-size: 2rem;
  text-align: center;
}

.purchase-table {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  
}

@media(min-width: 768px){
  .purchase-table {
    min-height: 300px;
  }
}

.purchase-table  thead tr,
.purchase-table  tbody tr {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
 
}

.purchase-table tr td {
  flex-basis: 33.3%;
  text-align: center;

}


.purchase-resume-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.checkout-payment-container h3 {
  text-transform: unset;
  font-size: 2rem;
  text-align: center;
}

.payment-container h2 {
  text-transform: none;
  font-size: 2rem;
  text-align: center;

}

.payment-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 2rem;
  border: 1px solid orange;
}

.payment-form label {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
 
}

.payment-form label input {
  padding: 1rem;

   flex-basis: calc(70%);
 
}



/************ PROFILE ******************/


.profile-forms-container  {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}


.profile-forms-container form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}



/**********  SHOWTIME *****/

.showTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

}

.showTime-img {
  height: 300px;
}



/********** ADMIN - PRODUCTS ************/

.admin-body-table {
  width: 100%;
}

.admin-body-table td {
padding: 1rem;
text-align: center;
border: 1px solid white;

}

.admin-body-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}



.admin-body-form label textarea {

  width: 100%;
  height: 20rem;
  padding: 2rem;
  color: black;
}