<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy tickets for the show</title>
</head>
<body>
    <div id="app">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../web/styles/normalize.css">
<link rel="stylesheet" href="../web/styles/styles.css">
<link rel="icon" href="../web/media/cropped-logo-transparent.png" type="image/png">






<header>

    <div class="top-bar container">
        <div >
          <!-- Coloca aquí tu logotipo -->
          <!-- <img src="ruta-del-logo.png" alt="Logo"> -->

          <img src="../web/media/cropped-logo-transparent-small.png" alt="cineverse-logo" class="logo">
        </div>
        <nav class="menu">
          <!-- Coloca aquí tu menú -->
          <!-- Por ejemplo: -->
          <ul>
            <li><a href="#" class="menu-item">Home</a></li>
            <li><a href="#" class="menu-item">Movies</a></li>
            <li><a href="#" class="menu-item">ShowRooms</a></li>
            <li><a href="#" class="menu-item">Contact</a></li>
            <li v-if="clientRole === '' "><a href="./web/login.html" class="menu-item">Login</a></li>
            <li v-else-if="clientRole === 'CLIENT'"><a href="./web/login.html" class="menu-item">{{clientName}}</a></li>
            <li v-else-if="clientRole === 'ADMIN'"><a href="./web/login.html" class="menu-item">Admin panel</a></li>
            <li v-else><a href="./web/login.html" class="menu-item">Tickets</a></li>
          </ul>
        </nav>
        <div class="menu-icon" @click="toggleMenu">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
              </svg>
        </div>
      </div>
      <div class="responsive-menu" :class="{ active: isMenuOpen }">
        <!-- Menú responsive que aparecerá en dispositivos móviles -->
        <ul>
          <li><a href="#" class="menu-item">Home</a></li>
          <li><a href="#" class="menu-item">Movies</a></li>
          <li><a href="#" class="menu-item">ShowRooms</a></li>
          <li><a href="#" class="menu-item">Contact</a></li>

       
        </ul>
      </div>

  
</header>


<main>


  <section class="container">

 
    <div class="cinema-room-table-container">
      <div class="cinema-room-container">
        <h2>Select your seats</h2>
        <div class="cinema-screen"></div> <!-- Gráfico de la pantalla de cine -->
        <div class="cinema-room">
          <div v-for="(row, rowIndex) in rows" :key="rowIndex" class="row">
            <div v-for="(seat, seatIndex) in row" :key="seatIndex" class="seat" :class="{ 'not-available': !isSeatAvailable(seat), selected: selectedSeats.includes(seat) }" @click="toggleSeatSelection(seat)">
              {{ seat.seatPlace }}
             
            </div>
          </div>
        </div>
      </div>
      <div class="selected-seats-table-section">
        <h2>Selected Seats:</h2>
        <p>Select the customer age for each one</p>

        <div v-if="selectedSeats.length > 0" class="selected-seats-table-container">
          <table>
            <thead>
              <tr>
                <th>Seat Place</th>
                <th>Customer Age</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(seat, index) in displayedSeats" :key="index">
                <td>{{ seat.seatPlace }}</td>
                <td>
                  <select v-model="seat.customerAge" class="seats-table-select">
                    <option value="" selected disabled>Select Age</option>
                    <option value="KID">KID</option>
                    <option value="ADULT">ADULT</option>
                    <option value="RETIRED">RETIRED</option>
                  </select>
                </td>
                <td><button class="site-action-btn color-red" @click="removeSeat(index)">Delete</button></td>
              </tr>
            </tbody>
           
          </table>
          <div class="pagination">
            <button :disabled="currentPage === 1" @click="prevPage">Previous</button>
            <span>{{ currentPage }}</span>
            <button :disabled="currentPage === totalPages" @click="nextPage">Next</button>
          </div>
          <button v-if="selectedSeats.length > 0" class="site-action-btn color-green">Save and continue</button>
        </div>
       
        <p v-else>No seats selected</p>
      </div>
    </div>
   
  </section>



</main>



</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<script src="./scripts/buy-tickets.js"></script>
</body>
</html>